span {
  background-color: green;
  font-style: italic;
  height:17px;
  width: 74px;
  color:orange;
  font-family: serif;
  font-weight: bold;
  font-style: oblique;
}
p {font-size: 15px
}
.redtext {color: "red";}
.greentext {color: "green";}
.bluetext {color: "blue";}
h1, h2 {
  color:red;
  text-align:center;}
div {border: 2px solid blue;
   width: 380px;
   height: 50px;
   background-color: green;
   color: white;
   font-size: 27px;}
