h1, h2 {
  color:red;
  text-align:center;}
div {border: 2px solid black;
   width: 380px;
   height: 50px;
   background-color: green;
   color: white;
   font-size: 27px;}

span {
  color:blue;
  font-style: italic;
  font-weight: bold;}
